input {
	@include w8-font;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	min-height: 32px;
	padding: 4px 5px 6px 5px;
	background: #fff;
	border: 1px solid #bababa;
	outline: 0;
}

.b-field-title {
	@include w8-font;
}

button, .ui-button {
	min-width: 90px;
	min-height: 32px;
	height: 32px;
	background-color: #ccc;
	border: 1px transparent solid;
	color: #353535;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 4px 10px;
	position: relative;

	&:active, &.default:active {
		top: 1px;
		left: 1px;
	}

	&:disabled, &.disabled {
		background-color: #eaeaea;
		color: #bebebe;
		cursor: not-allowed;
	}

	&.default {
		background-color: #008287;
		color: #fff;
	}

	&:focus {
		outline: 0;
		border: 1px #353535 dotted;
	}
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .ui-button;
}
