.b-modal {
	display: block;
	visibility: hidden;

	position: absolute;
	background: rgba(0,0,0,.8);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	-webkit-transition: all 300ms ease-in;

	.b-modal-inner {
		background: #fff;
		position: relative;
		top: -500px;

		margin: 0 auto;
		padding: 10px 30px 30px;
		width: 280px;
		border-radius: 20px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		-webkit-transition: all 300ms ease-in;
		//-webkit-transition: background 200ms ease-in, color 200ms ease-out;
	}

	&.is-error .b-modal-inner {
		background: #ff0000;
		color: #fff;
	}

	&.is-visible {
	visibility: visible;
		display: block;

		.b-modal-inner {
			top: -20px;
		}
	}

	.b-auth-notification  {
		display: none;
	}

	&.is-error .b-auth-notification {
		display: block;
	}

}

