<div class="d-helper-container">
	<div class="d-bg-preload"></div>
	<input class="d-btn d-btn-refresh-selected js-refresh-cache" type="button" value="Refresh Selected"> <br/>
	<input class="d-btn d-btn-clear js-clear-selection" type="reset" value="Clear Selection"> <br/>
	<input class="d-btn d-btn-reset js-flush-localstorage" type="reset" value="Reset Loading Groups"> <br/>
	<h2>Current features</h2>
	<ul>
		<li>
			Draw Mode - Hold LMB and move the pointer to select multiple items
		</li>
		<li>Select all items in group/subgroup by clicking on title</li>
		<li>Hover item to see elapsed time since last update</li>
		<li>Cache groups and subgroups sorted by popularity</li>
		<li>
			Highlight locales that were updated since the last refresh-request
		</li>
	</ul>
	<h2 class="d-log-heading">Refreshed items:</h2>
	<div class="d-log"></div>
</div>
